html
{
	background: black;
   	font: 1.1em sans-serif;
}
#interface
{
	background-image: url("../images/interface.png");
	height:680px;
	width:1200px;
	margin: auto;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
#cachemisere
{
	height:580px;
	width:1200px;
	margin: auto;
	position: absolute;
	top: 2px;
	bottom: 70px;
	left: 0px;
	right: 0px;
	overflow:hidden;
}
#canvas
{
	height:900px;
	width:900px;
	margin: auto;
	position: absolute;
	top: 0px;
	bottom: 150px;
	left: 268px;
	right: 0px;
}
#buttonspawn
{
	background-image: url("../images/lancer.png");
	height:80px;
	width:80px;
	margin: auto;
	position: absolute;
	top: 600px;
	bottom: 0px;
	left: 1000px;
	right: 0px;
}
#buttonspawn:hover
{
	background-image: url("../images/lancerover.png");

}
#upgrade
{
	background-image: url("../images/up.png");
	height:80px;
	width:80px;
	margin: auto;
	position: absolute;
	top: 600px;
	bottom: 0px;
	left: 100px;
	right: 0px;
}
#destroy
{
	background-image: url("../images/down.png");
	height:80px;
	width:80px;
	margin: auto;
	position: absolute;
	top: 600px;
	bottom: 0px;
	left: 300px;
	right: 0px;
}
#tower
{
	background-image: url("../images/solbutton.png");
	height:80px;
	width:80px;
	margin: auto;
	position: absolute;
	top: 600px;
	bottom: 0px;
	left: 0px;
	right: 500px;
}
#tower2
{
	background-image: url("../images/airbutton.png");
	height:80px;
	width:80px;
	margin: auto;
	position: absolute;
	top: 600px;
	bottom: 0px;
	left: 0px;
	right: 300px;
}
#tower3
{
	background-image: url("../images/freezebutton.png");
	height:80px;
	width:80px;
	margin: auto;
	position: absolute;
	top: 600px;
	bottom: 0px;
	left: 0px;
	right: 100px;
}
#freeze
{
	background-image: url("../images/chrono.png");
	height:150px;
	width:127px;
	margin: auto;
	position: absolute;
	top: 0px;
	bottom: 350px;
	left: 0px;
	right: 1050px;
}
#freeze:hover
{
	background-image: url("../images/chronoover.png");

}
#temps
{
	font: 30px sans-serif;
	height:60px;
	width:100px;
	margin: auto;
	position: absolute;
	top: 0px;
	bottom: 300px;
	left: 0px;
	right: 800px;
}
#retourmenu
{
	height:75px;
	width:170px;
	margin: auto;
	position: absolute;
	top: 600px;
	bottom: 0px;
	left: 0px;
	right: 950px;
}
#info
{
	height:300px;
	width:300px;
	margin: auto;
	position: absolute;
	top: 200px;
	bottom: 0px;
	left: 0px;
	right: 850px;
}
#infotour
{
	border:solid black 2px;
	height:200px;
	width:230px;
	margin: auto;
	position: absolute;
	top: 250px;
	bottom: 0px;
	left: 0px;
	right: 930px;
}
#win{
	background-image: url("../images/win.png");
	height:600px;
	width:900px;
	margin: auto;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	display: none;
	color:black;
}
#lose{
	background-color:red;
	height:900px;
	width:900px;
	margin: auto;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	display: none;
	color:black;
}
#next{
	height:130px;
	width:300px;
	margin: auto;
	position: absolute;
	top: 310px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
